<hr>
<div class="row">
	<div class="span6">
		<div class="well" style="background-color:white">
			<h2>참가자 정보</h2>
			<hr>
			<p>Email : <%= @user.email -%>@snu.ac.kr</p>
			<p>Name : <%= @user.name -%></p>
			<p>Phone : <%= @user.phone -%></p>
			<p>학번 : <%= @user.student_id -%></p>
			<p>학과 : <%= @user.dept -%></p>
			<center><a href="/user/modify" class="btn btn-primary">정보 수정</a></center>
		</div>
	</div>
	<div class="span6">
		<div class="well" style="background-color:white">
			<% if @user.photos.count < 3 -%>
			<h2>사진 등록</h2>
			<hr>
			<%= form_tag({:action => :register_process}, :multipart => true) do %>
				제목&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%=text_field_tag 'title'  %><br>
				장소&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%=text_field_tag 'where' %><br>
				시간대	&nbsp;&nbsp;&nbsp;&nbsp;		 <%= text_field_tag 'when' %><br>
				상세설명&nbsp;	 <textarea name="description" id="description" rows="5"></textarea><br>
				사진업로드 <%= file_field_tag 'photo' %><br>
				<hr>
				<center><%= submit_tag '등록하기', :class => "btn btn-primary" %></center>
			<% end %>
			</form>
			<% else -%>
			<h5>- 다른 사진을 삭제 후 등록해주세요</h5>
			<% end -%>
			<h4>최대 3개까지의 작품 등록이 가능합니다</h4>
		</div>
	</div>
</div>
<hr>
<h2>참가 등록된 사진들</h2>
<ul class="thumbnails">
	<% @user.photos.each do |p| -%>
	<li class="span4" style="background-color:#fff;">
		<div class="thumbnail">
			<a href="/data/<%=p.photo_saved_name-%>" target="_blank">
				<img src="/data/<%=p.photo_saved_name-%>">
			</a>
			<p>제목 : <%= p.title -%></p>
			<p>장소 : <%= p.where -%></p>
			<p>시간 : <%= p.when -%></p>
			<p>상세설명 : <%= p.description -%></p>
			<center>
				<a href="/photo/del/<%= p.id -%>" class="btn btn-small btn-danger">삭제</a>
			</center>
		</div>
	</li>
	<% end %>
</ul>

<hr>
<center>
	<a href="/" class="btn btn-large btn-primary">참가 접수 완료</a>
</center>
