<h1>사진 등록 하기</h1>
<h2>참가자 정보</h2>
<p>Email : <%= @user.email -%>@snu.ac.kr</p>
<p>Name : <%= @user.name -%></p>
<p>Phone : <%= @user.phone -%></p>
<p>학번 : <%= @user.student_id -%></p>
<p>학과 : <%= @user.dept -%></p>
<a href="/user/modify">정보 수정</a>


<% if @user.photos.count < 3 -%>
<h2>사진 등록</h2>
<%= form_tag({:action => :register_process}, :multipart => true) do %>
  제목 : <%= text_field_tag 'title' %><br>
  장소 : <%= text_field_tag 'where' %><br>
  시간 : <%= text_field_tag 'when' %><br>
	상세설명 : <textarea name="description" rows="5"></textarea><br>
  사진업로드 : <%= file_field_tag 'photo' %><br>
	<%= submit_tag 'Save' %>
<% end %>
</form>
<h4>최대 3개까지의 작품 등록이 가능합니다<h4>
<% end -%>
<h2>등록한 사진들</h2>
<% @user.photos.each do |p| -%>
<p>제목 : <%= p.title -%></p>
<p>장소 : <%= p.where -%></p>
<p>시간 : <%= p.when -%></p>
<p>상세설명 : <%= p.description -%></p>
<div style="width:300px;height:300px;overflow:hidden;">
<a href="/data/<%=p.photo_saved_name-%>"><img src="/data/<%=p.photo_saved_name-%>" width="300"/></a>
</div>
<a href="/photo/del/<%= p.id -%>">Del</a>
<hr>
<% end %>
<a href="/">참가 접수 완료</a>
